<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles-listar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    |

</head>
<body>
<h1>Bem vindo a nossa Pagina de Clientes</h1>
<h2>Tabela de Clientes:</h2>
<div></div>

<div>
    <table id="customers">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Idade</th>
            <th>Ações</th>
        </tr>
        <tr  th:each="customer, iterStat : ${customerList}" th:class="${iterStat.even} ? 'even' : 'odd'">
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.age}"></td>
            <td>
                <a class="action-link" th:href="@{/atualizar/{customerId}(customerId=${customer.id})}">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a class="action-link" th:href="@{/excluir/{customerId}(customerId=${customer.id})}" onclick="return confirm('Tem certeza que deseja excluir?')">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    </table>
</div>
<div>
    <button class="add-button" ><a class="add-button" th:href="@{/adicionar}">Adicionar Cliente</a></button>
</div>


<script>
    function editCustumer(customerId){
        window.location.href = '/atualizar?id=' + customerId;
    }
</script>

</body>
</html>
